footer {
    color:rgb(109, 109, 109);
    text-align: center;
}
/* Interface da lista */
h1,ul {
    font-size: larger;
    color: rgb(147, 203, 107);
}

#infome{
  list-style-type: none;
  color:#4CAF50;
  font-size: 20px;
}

#mail, #wpp, #insta, #tg{
  width: 50px;
}

h1:hover {
  color:rgb(198, 120, 237);
}

.titulo{
  background-color: rgb(143, 212, 32);
  color:rgb(255, 243, 233);
  text-align: center;
  font-size: 50px;
}

h2 {
  color: rgb(93, 132, 216);
}
ul {
    list-style-type: none;
    padding: 50px;
    background-color: antiquewhite;
    width: auto;
    border-radius: 6px;
  }
  
  li, p {
    margin: 10px 0;
    text-decoration: none;
    color: orange;
  }
  
  .completed {
    text-decoration: line-through;
    color: gray;
  }

  li:hover {
    cursor: pointer;
    color: burlywood;
  }

  /* Centralizar */

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

 body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;

}


.lista {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    grid-gap: 30px;
    max-width: 1000px;
    padding: 30px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
p {
  padding: 50px;
  background-color: antiquewhite;
  width: auto;
  border-radius: 6px;
}

nav  {
  margin-right: 20px;
}

nav:last-child {
  margin-right: 0;
}

span {
  font-size: small;
}
nav  a, span {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  color: rgb(155, 155, 155);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover, span:hover {
  color:rgb(242, 194, 143);
  cursor:pointer;
}

.menu {
  background-color: rgb(225, 252, 181);
  color:rgb(255, 243, 233);
  text-align: center;
  font-size: 20px;
}






